<a href="https://colab.research.google.com/github/AndrewPochapsky/chatbot/blob/master/ChatBot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import torch
import re
from fastai.text import *
from pathlib import Path

In [0]:
base_path = Path('drive/My Drive/datasets/cornell movie-dialogs corpus')

In [0]:
line_map = {}
with open(base_path/'movie_lines.txt', encoding = 'ISO-8859-1') as f:
    for line in f:
        parts = line.split(' +++$+++ ')
        line_num = parts[0]
        #-2 to get rid of \n
        text = parts[-1][:-2]
        line_map[line_num] = text

In [52]:
movie_lines_df.head()

  LineNum         text
0   L1045  They do not
1   L1044   They do to
2    L985    I hope so
3    L984     She okay
4    L925     Let's go

In [0]:
table = []
with open(base_path/'movie_conversations.txt', encoding = 'ISO-8859-1') as f:
    for line in f:
        parts = line.split(' +++$+++ ')
        #get the referenced line numbers
        line_nums = re.findall('L[0-9]+', parts[-1])
        #form pairs
        
        for i in range(len(line_nums) - 1):
            pair = (line_nums[i], line_nums[i+1])
            #df.loc[df['column_name'] == some_value]
            first = line_map[line_nums[i]]
            second = line_map[line_nums[i+1]]
            table.append([first, second])
        
            
            
data_df = pd.DataFrame(table, columns = ['in', 'out'])

In [71]:
data_df.head()

                                                  in                                                out
0  Can we make this quick?  Roxanne Korrine and A...  Well, I thought we'd start with pronunciation,...
1  Well, I thought we'd start with pronunciation,...  Not the hacking and gagging and spitting part....
2  Not the hacking and gagging and spitting part....  Okay... then how 'bout we try out some French ...
3  You're asking me out.  That's so cute. What's ...                                          Forget it
4  No, no, it's my fault -- we didn't have a prop...                                            Cameron

In [57]:
len(table)

16304